@import "../_basic/mixin";
@import "../_basic/var";
@import "../_basic/common";

#wrap{position:relative; width:100%; height:auto;}
#headBox{@include headBox_web;}
#use_contentBox{width:100%; height:auto;
  #use_viewBox{position:relative; width:100%; height:450px;
    @include BgImage('bgimg/main_04.jpg'); background-position:0 10%;
    .use_menu{position:absolute; width:100%; height:140px; bottom:-40px;
      h3{font-size:20px; text-align:center; color:$white}
      .use_nav{width:830px; height:80px; background-color:$Brown; margin:auto; margin-top:30px;
        ul{width:455px; height:100%; margin:auto; font-size:16px;
          li{float:left; padding:28px 20px;
            >a{color:$white;}}}}
    }}//use_viewBox
  }//use_contentBox
#use{width:100%; height:auto; text-align:center; margin-top:150px;
  h3{@include zoneTitle(center)}
  .use_floor{width:100%; height:auto; margin-top:50px;
    h4{font-size:20px; margin-bottom:10px;}
    p{font-size:15px;
      &:after{content:" "; display:block; width:310px; height:1px; margin:auto; margin-top:20px; margin-bottom:30px; background-color:$Brown;}}
    >div{width:730px; height:339px; margin:auto; margin-bottom:50px;
      &:last-of-type{height:83px;}
      div{float:left; width:357px; height:227px; margin-right:15px;
        &:last-of-type{margin-right:0;}}
      &:nth-of-type(1){
        .img_01{@include BgImage('use/floor_04_01.jpg')}
        .img_02{@include BgImage('use/floor_04_02.jpg')}}
      &:nth-of-type(2){
        .img_01{@include BgImage('use/floor_02_01.jpg')}
        .img_02{@include BgImage('use/floor_02_02.jpg')}}
      &:nth-of-type(3){
        .img_01{@include BgImage('use/floor_01_01.jpg')}
        .img_02{@include BgImage('use/floor_01_02.jpg')}}
      &:nth-of-type(4){
        .img_01{@include BgImage('use/floor_B1_01.jpg')}
        .img_02{@include BgImage('use/floor_B1_02.jpg')}}
    }
  }  
}//use
#footBox{@include footBox_web; margin-top:100px;}

@media screen and (max-width:767px){@import "seoul_use_480";}
@media screen and (min-width:768px) and (max-width:1279px){@import "seoul_use_768";}