#wrap {
  width: 100%;
  height: auto;
  background-color: #f0f0f0; }

#headBox {
  width: 62.50vw;
  height: 7.812500vw;
  -webkit-width: 1200px;
  -webkit-height: 150px;
  margin: 0 auto; }
  #headBox > h1 {
    width: 100%;
    height: 110px;
    padding: 30px 0;
    box-sizing: border-box; }
    #headBox > h1 > a {
      display: block;
      width: 180px;
      height: 50px;
      background-image: url("../img/seoul_botanicpark_logo.png");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      margin: 0 auto; }
  #headBox #gnb_mob {
    display: none;
    width: 1.041667vw;
    height: 1.041667vw;
    -webkit-width: 20px;
    -webkit-height: 20px; }
  #headBox #gnb {
    width: 100%;
    height: 40px;
    box-sizing: border-box; }
    #headBox #gnb > ul {
      width: 600px;
      height: 40px;
      margin: 0 auto;
      line-height: 40px; }
      #headBox #gnb > ul > li {
        float: left;
        margin: 0 30px;
        font-size: 16pt;
        line-height: 40px;
        text-align: center; }
        #headBox #gnb > ul > li > a {
          display: block;
          width: 100%;
          height: 100%; }

#contentBox {
  width: 100%;
  height: auto; }
  #contentBox > .viewBox {
    position: relative;
    width: 100%;
    height: auto;
    -webkit-width: 100%;
    -webkit-height: auto;
    padding-top: 30px; }
    #contentBox > .viewBox .view_img {
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      margin: auto;
      width: 51.041667vw;
      height: 26.770833vw;
      -webkit-width: 980px;
      -webkit-height: 514px;
      z-index: 1;
      background-image: url("../img/main_img.jpg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      background-size: 120%;
      background-position: 0% 60%; }
      #contentBox > .viewBox .view_img > h3 {
        float: right;
        margin: 40px 40px 0 0;
        font-size: 27px;
        line-height: 34px;
        text-align: right;
        color: #fff; }
    #contentBox > .viewBox:before {
      content: " ";
      position: relative;
      top: 257px;
      display: block;
      width: 100%;
      height: 26.770833vw;
      background-color: #54a27b; }
    #contentBox > .viewBox .today_list {
      position: relative;
      width: 26.562500vw;
      height: 13.385417vw;
      -webkit-width: 510px;
      -webkit-height: 257px;
      margin: 0 auto;
      padding: 40px 20px;
      box-sizing: border-box; }
      #contentBox > .viewBox .today_list > h3 {
        width: auto;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 15px; }
      #contentBox > .viewBox .today_list > i {
        position: absolute;
        top: 45px;
        right: 20px;
        font-style: normal;
        font-size: 15px;
        font-weight: bold;
        line-height: 20px; }
      #contentBox > .viewBox .today_list > .list_contents {
        width: auto;
        height: 8.3333vw;
        -webkit-height: 160px;
        font-size: 16px;
        line-height: 30px;
        overflow: scroll; }

.newsArea {
  position: relative;
  width: 51.041667vw;
  height: auto;
  -webkit-width: 980px;
  margin: 0 auto;
  padding: 30px 0; }
  .newsArea > h3 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px; }
  .newsArea > i {
    position: absolute;
    top: 35px;
    right: 255px;
    font-style: normal;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px; }
  .newsArea > .news_contents {
    width: 100%;
    height: 10.9375vw;
    -webkit-height: 210px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 35px; }
  .newsArea .news_01 {
    float: left; }
  .newsArea .news_02 {
    float: right; }

.recomArea {
  width: 100%;
  height: 100%; }
  .recomArea > .recom_button {
    width: 26.041667vw;
    height: auto;
    -webkit-width: 500px;
    margin: 30px auto;
    padding-bottom: 30px; }
    .recomArea > .recom_button > div {
      position: relative;
      float: left;
      width: 230px;
      height: 150px; }
      .recomArea > .recom_button > div > button {
        width: 100%;
        height: 100%;
        cursor: pointer; }
        .recomArea > .recom_button > div > button > .title {
          display: block;
          text-align: center;
          font-size: 20px;
          font-weight: bold;
          color: #54a27b;
          padding-top: 60px; }
        .recomArea > .recom_button > div > button > .icon {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          display: block;
          width: 60px;
          height: 85px; }
    .recomArea > .recom_button > .plant:before {
      content: " ";
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 30px;
      background-color: #191919; }
    .recomArea > .recom_button > .plant .icon {
      width: 80px;
      height: 80px;
      background-image: url("../img/icon/plant_icon.gif");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      background-size: auto; }
    .recomArea > .recom_button > .place .icon {
      width: 80px;
      height: 80px;
      background-image: url("../img/icon/place_icon.gif");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      background-size: auto; }

.plantArea {
  /* display:none; */
  width: 100%;
  height: auto;
  background-color: #fff; }
  .plantArea > .flower_info {
    position: relative;
    width: 490px;
    height: 330px;
    margin: 0 auto; }
    .plantArea > .flower_info > p {
      font-size: 20px;
      text-align: center;
      padding: 40px 0 30px 0; }
    .plantArea > .flower_info > ul {
      width: 100%;
      height: 210px; }
      .plantArea > .flower_info > ul > li:first-child {
        float: left;
        width: 9.3750vw;
        height: 9.3750vw;
        -webkit-width: 180px;
        -webkit-height: 180px;
        border-radius: 100%;
        background-image: url("../img/Hawauuan_Hibiscus_462.jpg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        background-size: 250%;
        background-position: 38% 90%; }
      .plantArea > .flower_info > ul > li:last-child {
        float: right;
        font-size: 20px;
        padding: 45px 0; }
    .plantArea > .flower_info:before {
      content: " ";
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 135px;
      height: 1px;
      background-color: #191919; }
  .plantArea > .library_info {
    position: relative;
    width: 180px;
    height: 165px;
    margin: 0 auto;
    padding: 40px 0 20px 0;
    text-align: center;
    font-size: 20px;
    line-height: 27px; }
    .plantArea > .library_info > ul {
      width: 100%;
      height: 100%; }
      .plantArea > .library_info > ul > li:first-child {
        font-size: 20px; }
        .plantArea > .library_info > ul > li:first-child > span {
          font-size: 16px; }
      .plantArea > .library_info > ul > li:last-child {
        display: block;
        width: 100px;
        height: 35px;
        margin: 20px auto;
        border: 1px solid #191919;
        font-size: 17px;
        line-height: 34px; }
    .plantArea > .library_info:before {
      content: " ";
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 135px;
      height: 1px;
      background-color: #191919; }
  .plantArea > .seach_info {
    width: 400px;
    height: 180px;
    margin: 0 auto;
    padding: 40px 0 0 0;
    text-align: center;
    font-size: 20px;
    line-height: 27px; }
    .plantArea > .seach_info > p:nth-child(2) {
      font-size: 16px; }
    .plantArea > .seach_info > .seachBox {
      width: 400px;
      height: 50px;
      margin-top: 20px; }
      .plantArea > .seach_info > .seachBox > .seach_text {
        position: relative;
        width: 400px;
        height: 50px;
        border: 2px solid #54a27b;
        border-radius: 25px;
        font-size: 20px; }
        .plantArea > .seach_info > .seachBox > .seach_text input[type="text"] {
          position: absolute;
          top: 4px;
          left: 20px;
          width: 330px;
          height: 40px;
          font-size: 20px;
          border-style: none; }
        .plantArea > .seach_info > .seachBox > .seach_text input[type="submit"] {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          width: 30px;
          height: 30px;
          background-color: transparent;
          border: transparent;
          background-image: url("../img/icon/seach_icon.gif");
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain;
          background-size: auto; }

.holiday_info {
  width: 800px;
  height: 110px;
  border: 2px solid #55a37c;
  margin: 30px auto; }
  .holiday_info > ul {
    width: 445px;
    height: 110px;
    margin: 0 auto; }
    .holiday_info > ul > li:first-child {
      float: left;
      margin: 30px 0; }
    .holiday_info > ul > li:last-child {
      float: right;
      display: block;
      width: 100px;
      height: 35px;
      text-align: center;
      border: 1px solid #191919;
      font-size: 17px;
      line-height: 34px;
      margin: 37px 0; }

#footBox {
  position: relative;
  width: 100%;
  height: 140px;
  background-color: #55a37c; }
  #footBox > .foot_sns {
    position: absolute;
    right: 560px;
    bottom: 32px; }
    #footBox > .foot_sns > ul {
      width: auto;
      height: auto; }
      #footBox > .foot_sns > ul > li {
        float: left;
        width: 45px;
        height: 45px;
        padding-right: 10px; }
        #footBox > .foot_sns > ul > li > a {
          display: block;
          width: 100%;
          height: 100%;
          background-image: url("../img/icon/sns.png");
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain;
          background-size: cover; }
        #footBox > .foot_sns > ul > li:last-child {
          padding-right: 0; }
        #footBox > .foot_sns > ul > li:nth-child(1) > a {
          background-position: 0 0; }
        #footBox > .foot_sns > ul > li:nth-child(2) > a {
          background-position: 50%; }
        #footBox > .foot_sns > ul > li:nth-child(3) > a {
          background-position: 100%; }
  #footBox > .foot_info {
    width: 800px;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
    padding-top: 20px;
    box-sizing: border-box; }
    #footBox > .foot_info > a {
      margin-left: 20px; }
      #footBox > .foot_info > a:nth-of-type(1) {
        margin-left: 0; }
    #footBox > .foot_info > p {
      width: auto;
      height: 48px;
      text-align: left;
      font-size: 15px;
      line-height: 20px;
      padding-top: 13px; }

@media screen and (max-width: 767px) {
  #headBox {
    position: relative;
    width: 100%;
    height: 100px; }
    #headBox > h1 {
      width: 100%;
      box-sizing: border-box; }
      #headBox > h1 > a {
        display: block;
        width: 152px;
        height: 40px;
        background-image: url("../img/seoul_botanicpark_logo_small.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain; }
    #headBox #gnb_mob {
      position: absolute;
      display: block;
      top: 35px;
      right: 13px;
      width: 20px;
      height: 20px; }
      #headBox #gnb_mob > a {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("../img/more_icon.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain; }
    #headBox #gnb {
      display: none; }
  #contentBox > .viewBox {
    padding-top: 0px; }
    #contentBox > .viewBox .view_img {
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
      margin: auto;
      width: 87.53vw;
      height: 87.53vw;
      -webkit-width: 420px;
      -webkit-height: 420px;
      background-size: 250%;
      background-position: 50% 60%; }
      #contentBox > .viewBox .view_img > p {
        margin: 20px 20px 0 0;
        font-size: 20px;
        line-height: 25px; }
    #contentBox > .viewBox:before {
      content: " ";
      position: relative;
      top: 257px;
      display: block;
      width: 100%;
      height: 87.53vw;
      -webkit-height: 420px;
      background-color: #54a27b; }
    #contentBox > .viewBox .today_list {
      width: 83.3333vw;
      height: 54.1667vw;
      -webkit-width: 400px;
      -webkit-height: 260px; }
      #contentBox > .viewBox .today_list > p {
        width: auto;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 15px; }
      #contentBox > .viewBox .today_list > .list_contents {
        width: auto;
        height: 31.2500vw;
        -webkit-height: 150px;
        font-size: 16px;
        line-height: 30px;
        overflow: scroll;
        white-space: nowrap; }
  .newsArea {
    width: 83.3333vw;
    height: auto;
    -webkit-width: 400px;
    margin: 0 auto;
    padding: 40px 20px;
    box-sizing: border-box; }
    .newsArea > p {
      padding-bottom: 20px;
      font-size: 18px; }
    .newsArea > i {
      position: absolute;
      top: 45px;
      right: 20px;
      font-style: normal;
      font-size: 15px;
      font-weight: bold;
      line-height: 20px; }
    .newsArea > .news_contents {
      width: auto;
      height: auto;
      -webkit-width: 400px;
      -webkit-height: 140px;
      padding: 15px 0 0 0; }
    .newsArea .news_01 {
      float: none;
      padding: 0px;
      overflow: scroll;
      white-space: nowrap; }
    .newsArea .news_02 {
      display: none;
      float: none; }
  .recomArea {
    width: 100%;
    height: 100%; }
    .recomArea > .recom_button {
      width: 80.4167vw;
      -webkit-width: 386px; }
      .recomArea > .recom_button > div {
        width: 38.7500vw;
        height: 25.4167vw;
        -webkit-width: 186px;
        -webkit-height: 122px; }
        .recomArea > .recom_button > div > button {
          width: 100%;
          height: 100%; }
          .recomArea > .recom_button > div > button > .title {
            padding-top: 100px; }
      .recomArea > .recom_button > .plant:before {
        content: " ";
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 30px;
        background-color: #191919; }
      .recomArea > .recom_button > .plant .icon {
        background-image: url("../img/icon/plant_icon.gif");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain; }
      .recomArea > .recom_button > .place .icon {
        background-image: url("../img/icon/place_icon.gif");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain; }
  .plantArea {
    /* display:none; */
    width: 100vw;
    height: auto; }
    .plantArea > .flower_info {
      position: relative;
      width: 490px;
      height: 430px;
      margin: 0 auto; }
      .plantArea > .flower_info > p {
        padding: 30px 0 30px 0; }
      .plantArea > .flower_info > ul {
        width: 300px;
        height: auto;
        margin: 0 auto; }
        .plantArea > .flower_info > ul > li:first-child {
          float: none;
          width: 37.5000vw;
          height: 37.5000vw;
          -webkit-width: 180px;
          -webkit-height: 180px;
          border-radius: 100%;
          margin: 0 auto;
          background-image: url("../img/Hawauuan_Hibiscus_462.jpg");
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain;
          background-size: 250%;
          background-position: 38% 90%; }
        .plantArea > .flower_info > ul > li:last-child {
          float: none;
          text-align: center;
          padding: 30px 0; }
    .plantArea > .seach_info {
      width: 350px;
      height: 180px;
      margin: 0 auto;
      padding: 40px 0 0 0;
      text-align: center;
      font-size: 20px;
      line-height: 27px; }
      .plantArea > .seach_info > p:nth-child(2) {
        font-size: 16px; }
      .plantArea > .seach_info > .seachBox {
        position: relative;
        width: 350px;
        height: 50px; }
        .plantArea > .seach_info > .seachBox > input[type="text"] {
          width: 100%;
          height: 100%;
          border: 2px solid #54a27b;
          border-radius: 25px;
          font-size: 20px; }
        .plantArea > .seach_info > .seachBox > input[type="submit"] {
          position: absolute;
          right: 20px;
          bottom: 10px;
          width: 26px;
          height: 26px;
          background-image: url("../img/icon/seach_icon.gif");
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain;
          background-color: transparent;
          border-color: transparent; }
  .holiday_info {
    width: 350px;
    height: 130px;
    border: 2px solid #55a37c; }
    .holiday_info > ul {
      width: 300px;
      height: 110px;
      text-align: center; }
      .holiday_info > ul > li:first-child {
        float: none;
        margin: 10px 0 20px 0; }
      .holiday_info > ul > li:last-child {
        float: none;
        width: 100px;
        height: 35px;
        text-align: center;
        margin: 0 auto; }
  #footBox {
    width: 100%;
    height: 220px;
    padding-top: 30px;
    box-sizing: border-box; }
    #footBox > .foot_sns {
      position: static;
      width: 155px;
      height: 45px;
      margin: 0 auto; }
    #footBox > .foot_info {
      width: 380px;
      height: 120px;
      margin: 0 auto;
      text-align: center;
      font-size: 17px;
      padding-top: 20px;
      box-sizing: border-box;
      white-space: normal; }
      #footBox > .foot_info > a {
        margin-left: 10px; }
        #footBox > .foot_info > a:nth-of-type(4) {
          margin-left: 0; }
      #footBox > .foot_info > p {
        width: auto;
        height: 48px;
        text-align: left;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        padding-top: 13px; } }

@media screen and (min-width: 768px) and (max-width: 1279px) {
  #headBox {
    position: relative;
    width: 100%;
    height: 100px; }
    #headBox > h1 {
      width: 100%;
      box-sizing: border-box; }
      #headBox > h1 > a {
        display: block;
        width: 152px;
        height: 40px;
        background-image: url("../img/seoul_botanicpark_logo_small.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain; }
    #headBox #gnb_mob {
      position: absolute;
      display: block;
      top: 35px;
      right: 50px;
      width: 20px;
      height: 20px; }
      #headBox #gnb_mob > a {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("../img/more_icon.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain; }
    #headBox #gnb {
      display: none; }
  #contentBox > .viewBox {
    padding-top: 0px; }
    #contentBox > .viewBox .view_img {
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
      margin: auto;
      width: 88.5417vw;
      height: 54.6875vw;
      -webkit-width: 680px;
      -webkit-height: 420px;
      background-size: 200%;
      background-position: 55% 60%; }
      #contentBox > .viewBox .view_img > p {
        margin: 20px 20px 0 0; }
    #contentBox > .viewBox:before {
      content: " ";
      position: relative;
      top: 257px;
      display: block;
      width: 100%;
      height: 54.6875vw;
      -webkit-height: 420px;
      background-color: #54a27b; }
    #contentBox > .viewBox .today_list {
      width: 600px;
      height: 260px; }
      #contentBox > .viewBox .today_list > p {
        right: 65px;
        top: 120px;
        font-size: 22px;
        line-height: 26px; }
      #contentBox > .viewBox .today_list > .list_contents {
        width: 450px;
        height: 140px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 30px;
        overflow: scroll;
        white-space: nowrap; }
  .newsArea {
    width: 600px;
    height: 220px;
    margin: 0 auto; }
    .newsArea > p {
      padding-bottom: 20px; }
    .newsArea > i {
      position: absolute;
      top: 36px;
      right: 20px;
      font-style: normal;
      font-size: 15px;
      font-weight: bold;
      line-height: 20px; }
    .newsArea > .news_contents {
      width: 460px;
      height: 180px;
      margin: 0 auto;
      padding: 15px 0 0 0; }
    .newsArea .news_01 {
      float: none;
      width: 100%;
      height: 100%;
      padding: 0px;
      line-height: 30px;
      overflow: scroll;
      white-space: nowrap; }
    .newsArea .news_02 {
      display: none;
      float: none; }
  .recomArea {
    width: 100%;
    height: 100%; }
    .recomArea > .recom_button {
      width: 50vw;
      -webkit-width: 386px;
      padding-bottom: 50px; }
      .recomArea > .recom_button > div {
        width: 24.2188vw;
        height: 18.2292vw;
        -webkit-width: 186px;
        -webkit-height: 140px; }
        .recomArea > .recom_button > div > button {
          width: 100%;
          height: 100%; }
          .recomArea > .recom_button > div > button > .title {
            padding-top: 100px; }
  .plantArea {
    /* display:none; */
    width: 100%;
    height: auto; }
    .plantArea > .flower_info {
      position: relative;
      width: 490px;
      height: 450px;
      margin: 0 auto; }
      .plantArea > .flower_info > p {
        padding: 30px 0 30px 0; }
      .plantArea > .flower_info > ul {
        width: 300px;
        height: auto;
        margin: 0 auto; }
        .plantArea > .flower_info > ul > li:first-child {
          float: none;
          width: 180px;
          height: 180px;
          border-radius: 100%;
          margin: 0 auto;
          background-image: url("../img/Hawauuan_Hibiscus_462.jpg");
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain;
          background-size: 250%;
          background-position: 38% 90%; }
        .plantArea > .flower_info > ul > li:last-child {
          float: none;
          text-align: center;
          padding: 30px 0; }
  .holiday_info {
    width: 420px;
    height: 130px;
    border: 2px solid #55a37c; }
    .holiday_info > ul {
      width: 300px;
      height: 110px;
      text-align: center; }
      .holiday_info > ul > li:first-child {
        float: none;
        margin: 10px 0 20px 0; }
      .holiday_info > ul > li:last-child {
        float: none;
        width: 100px;
        height: 35px;
        text-align: center;
        margin: 0 auto; }
  #footBox {
    width: 100%;
    height: 220px;
    padding-top: 30px;
    box-sizing: border-box; }
    #footBox > .foot_sns {
      position: static;
      width: 155px;
      height: 45px;
      margin: 0 auto; }
    #footBox > .foot_info {
      width: 380px;
      height: 120px;
      margin: 0 auto;
      text-align: center;
      font-size: 17px;
      padding-top: 20px;
      box-sizing: border-box;
      white-space: normal; }
      #footBox > .foot_info > a {
        margin-left: 10px; }
        #footBox > .foot_info > a:nth-of-type(4) {
          margin-left: 0; }
      #footBox > .foot_info > p {
        width: auto;
        height: 48px;
        text-align: left;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        padding-top: 13px; } }

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  #headBox {
    width: 100vw;
    height: 11.7188vw;
    -webkit-width: 1200px;
    -webkit-height: 150px; }
  #contentBox {
    width: 100%;
    height: auto; }
    #contentBox > .viewBox {
      position: relative;
      width: 100%;
      height: auto;
      -webkit-width: 100%;
      -webkit-height: auto;
      padding-top: 30px; }
      #contentBox > .viewBox .view_img {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        margin: auto;
        width: 76.5625vw;
        height: 40.1563vw;
        -webkit-width: 980px;
        -webkit-height: 514px;
        z-index: 1;
        background-image: url("../img/main_img.jpg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        background-size: 120%;
        background-position: 0% 60%; }
      #contentBox > .viewBox:before {
        content: " ";
        position: relative;
        top: 277px;
        display: block;
        width: 100%;
        height: 40.1563vw;
        -webkit-height: 514px;
        background-color: #54a27b; }
      #contentBox > .viewBox .today_list {
        position: relative;
        width: 39.8438vw;
        height: 20.0781vw;
        -webkit-width: 510px;
        -webkit-height: 257px; }
        #contentBox > .viewBox .today_list > p {
          width: auto;
          text-align: center;
          font-size: 20px;
          font-weight: bold;
          padding-bottom: 15px; }
        #contentBox > .viewBox .today_list > i {
          position: absolute;
          top: 45px;
          right: 20px;
          font-style: normal;
          font-size: 15px;
          font-weight: bold;
          line-height: 20px; }
        #contentBox > .viewBox .today_list > .list_contents {
          width: auto;
          height: 12.3438vw;
          -webkit-height: 158px;
          font-size: 16px;
          line-height: 30px;
          overflow: scroll; }
  .newsArea {
    position: relative;
    top: 30px;
    width: 76.5625vw;
    height: 300px;
    -webkit-width: 980px; }
    .newsArea > p {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 15px; }
  .recomArea {
    width: 100%;
    height: 100%;
    box-sizing: border-box; }
    .recomArea > .recom_button {
      width: 39.0625vw;
      height: auto;
      -webkit-width: 500px;
      margin: 30px auto;
      padding-bottom: 30px; }
      .recomArea > .recom_button > div {
        position: relative;
        float: left;
        width: 230px;
        height: 150px; }
        .recomArea > .recom_button > div > button {
          width: 100%;
          height: 100%;
          cursor: pointer; }
          .recomArea > .recom_button > div > button > .icon {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 60px;
            height: 85px; }
            .recomArea > .recom_button > div > button > .icon > .title {
              text-align: center;
              font-size: 20px;
              font-weight: bold;
              color: #54a27b;
              padding-top: 110px; }
      .recomArea > .recom_button > .plant:before {
        content: " ";
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 30px;
        background-color: #191919; }
      .recomArea > .recom_button > .plant .icon {
        background-image: url("../img/icon/plant_icon.gif");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        background-size: auto; }
      .recomArea > .recom_button > .place .icon {
        background-image: url("../img/icon/place_icon.gif");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        background-size: auto; }
  .plantArea {
    /* display:none; */
    width: 100%;
    height: auto;
    background-color: #fff; }
    .plantArea > .flower_info {
      position: relative;
      width: 490px;
      height: 330px;
      margin: 0 auto; }
      .plantArea > .flower_info > p {
        font-size: 20px;
        text-align: center;
        padding: 40px 0 30px 0; }
      .plantArea > .flower_info > ul {
        width: 100%;
        height: 210px; }
        .plantArea > .flower_info > ul > li:first-child {
          float: left;
          width: 14.0625vw;
          height: 14.0625vw;
          -webkit-width: 180px;
          -webkit-height: 180px;
          border-radius: 100%;
          background-image: url("../img/Hawauuan_Hibiscus_462.jpg");
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain;
          background-size: 250%;
          background-position: 38% 90%; }
        .plantArea > .flower_info > ul > li:last-child {
          float: right;
          font-size: 20px;
          padding: 45px 0; }
      .plantArea > .flower_info:before {
        content: " ";
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 135px;
        height: 1px;
        background-color: #191919; }
  #footBox {
    position: relative;
    width: 100%;
    height: 140px;
    background-color: #55a37c; }
    #footBox > .foot_sns {
      position: absolute;
      right: 240px;
      bottom: 32px; }
      #footBox > .foot_sns > ul {
        width: auto;
        height: auto; }
        #footBox > .foot_sns > ul > li {
          float: left;
          width: 45px;
          height: 45px;
          padding-right: 10px; }
          #footBox > .foot_sns > ul > li > a {
            display: block;
            width: 100%;
            height: 100%;
            background-image: url("../img/icon/sns.png");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: contain;
            background-size: cover; }
          #footBox > .foot_sns > ul > li:last-child {
            padding-right: 0; }
          #footBox > .foot_sns > ul > li:nth-child(1) > a {
            background-position: 0 0; }
          #footBox > .foot_sns > ul > li:nth-child(2) > a {
            background-position: 50%; }
          #footBox > .foot_sns > ul > li:nth-child(3) > a {
            background-position: 100%; }
    #footBox > .foot_info {
      width: 800px;
      height: 120px;
      margin: 0 auto;
      text-align: center;
      font-size: 17px;
      padding-top: 20px;
      box-sizing: border-box; }
      #footBox > .foot_info > a {
        margin-left: 20px; }
        #footBox > .foot_info > a:nth-of-type(1) {
          margin-left: 0; }
      #footBox > .foot_info > p {
        width: auto;
        height: 48px;
        text-align: left;
        font-size: 15px;
        line-height: 20px;
        padding-top: 13px; } }
