@charset "UTF-8";

#wrap {width:100vw; min-width:25vw; -webkit-min-width:480px; height:auto; background-color:#f0f0f0; z-index:-1;}

#headBox{width:100vw; height:7.812500vw; -webkit-width:100%; -webkit-height:150px;}
#headBox>h1{width:100vw; height:5.729167vw; -webkit-width:100%; -webkit-height:110px;
            padding:30px 0; box-sizing:border-box;}
#headBox>h1>a{display:block; width:9.3750vw; height:2.6042vw; -webkit-width:180px; -webkit-height:50px;
              margin:0 auto; background-image:url(../img/seoul_botanicpark_logo.png);
              background-repeat:no-repeat; background-position:0 0;}

#head_menu_mobile{/* width:1.041667vw; height:1.041667vw; -webkit-width:20px; -webkit-height:20px; */ overflow: hidden;}
#head_menu_web{width:100vw; height:2.083333vw; -webkit-width:100%; -webkit-height:40px; box-sizing:border-box;}
#head_menu_web>ul{width:31.2500vw; height:2.083333vw; -webkit-width:600px; -webkit-height:40px;
                  margin:0 auto; line-height:40px;}
#head_menu_web li>a{float:left; margin:0 30px; font-size:16pt; line-height:40px; text-align:center;}

#contentBox{width:100%; height:auto;}
.viewBox{width:100%; height:auto; -webkit-width:100%; -webkit-height:auto; padding-top:30px;}
  .view_img{position:relative; width:51.041667vw; height:26.770833vw; -webkit-width:980px; -webkit-height:514px; 
            margin:0 auto; z-index:1; background-image:url(../img/main_img.jpg); background-repeat:no-repeat;
            background-position:30% 60%; background-size:120%;}
  .view_bgcolor{position:absolute; top:437px; width:100vw; height:26.770833vw;
                -webkit-width:100%; -webkit-height:514px; z-index:0; background-color:#55a37c;}
  .viewBox>p{position:absolute; right:490px; top:210px; z-index:1; font-size:27px; line-height:34px;
             text-align:right; color:#fff;}
.view_tpg{position:relative; width:26.562500vw; height:13.385417vw; -webkit-width:510px; -webkit-height:257px;
          margin:0 auto; padding:30px 20px; box-sizing:border-box;}
  .tpg_title>p{width:auto; text-align:center; font-size:20px; font-weight:bold; padding-bottom:15px;}
  .tpg_title>i{position:absolute; top:35px; right:20px;
               font-style:normal; font-size:15px; font-weight:bold; line-height:20px;}
  .tpg_contents{width:auto; height:8.2292vw; -webkit-height:158px; font-size:16px; line-height:30px; overflow:scroll;}
.seoul_news{position:relative; width:51.041667vw; height:auto; -webkit-width:980px; margin:0 auto; padding:30px 0;}
  .news_title>p{width:auto; text-align:center; font-size:20px; font-weight:bold; padding-bottom:15px;}
  .news_title>i{position:absolute; top:35px; right:255px; font-style:normal; font-size:15px; font-weight:bold; 
                line-height:20px;}
  .news_contents div{width:25.5208vw; height:10.9375vw; -webkit-width:490px; -webkit-height:210px;
                     padding:20px; box-sizing:border-box; font-size:16px; line-height:35px;}
    .news_01{float:left;} .news_02{float:right;}

  .seoul_recom{width:auto; height:auto;}
  .seoul_recom_button{width:26.041667vw; height:auto; -webkit-width:500px; margin:0 auto; padding-bottom:30px;}
    .seoul_recom_plant{float:left; width:11.979167vw; height:7.812500vw; -webkit-width:230px; -webkit-height:150px; 
                       margin-right:30px; background-image:url(../img/plant_icon_big.png);
                       background-repeat:no-repeat; background-position:0 0;}
    .seoul_recom_place{float:right; width:11.979167vw; height:7.812500vw; -webkit-width:230px; -webkit-height:150px;
        background-image:url(../img/palce_icon_big.png); background-repeat:no-repeat; background-position:0 0;}

    .short_line {width:41.6667vw; -webkit-width:800px; margin:0 auto;}
    .seoul_plant_area{width:100vw; height:36.4583vw; -webkit-width:100%; -webkit-height:700px; background-color:#fff;}
    .seoul_plant_area>p{font-size:20px; text-align:center; padding:30px 0;}

    .seoul_plant_area_info_mothly{width:27.0833vw; height:10.4167vw; -webkit-width:520px; -webkit-height:200px; 
                                  margin:0 auto; padding-bottom:30px;}
    .seoul_plant_area_info_mothly li{float:left; font-family: 'Noto Serif KR', serif;}
    .seoul_plant_area_info_mothly li:first-child{float:left; width:9.3750vw; height:9.3750vw; 
       -webkit-width:180px; -webkit-height:180px; border-radius:100%; margin:10px 0;
       background-image:url(../img/Hawauuan_Hibiscus_462.jpg); background-repeat:no-repeat;
       background-position:38% 90%;}
    .seoul_plant_area_info_mothly li:last-child{float:right; width:15.6250vw; height:10.4167vw;
       width:300px; height:200px; padding:50px 0; box-sizing:border-box; line-height:30px;}
    .seoul_plant_area_info_mothly li:last-child>p:nth-child(1){font-size:18px; font-family: 'Noto Sans KR', sans-serif;}
    .seoul_plant_area_info_mothly li:last-child>p:nth-child(2){font-size:16px;}
    .seoul_plant_area_info_mothly li:last-child>p:nth-child(3){font-size:20px;}

  .seoul_plant_area_info_library{width:9.3750vw; height:8.5938vw; -webkit-width:180px; -webkit-height:165px;
       margin:0 auto; text-align:center; font-size:20px; line-height:27px; padding-bottom:30px;}
    .seoul_plant_area_info_library li:nth-child(1)>p:last-child{font-size:16px;}
    .seoul_plant_area_info_library li:nth-child(2)>a{display:block; width:5.2083vw; height:1.8229vw; margin:20px auto;
       -webkit-width:100px; -webkit-height:35px; border:1px solid #191919; font-size:17px; line-height:34px}
    
    .seoul_plant_area_info_seach{position:relative; width:20.8333vw; height:6.5104vw;
       -webkit-width:400px; -webkit-height:125px; margin:0 auto; text-align:center; font-size:20px; line-height:27px;}
    .seoul_plant_area_info_seach>p:nth-child(2){font-size:16px;}
    .seoul_recom_seach{width:100%; height:2.6042vw; -webkit-width:400px; -webkit-height:50px; margin-top:30px;}
    .seach_box{width:100%vw; height:2.3958vw; -webkit-width:400px; -webkit-height:46px;
       border:2px solid #55a37c; border-radius:25px;}
    .seoul_recom_seach input[type="text"]{float:right; width:17.7083vw; height:2.3958vw; -webkit-width:340px;
       -webkit-height:46px; font-size:20px; padding-right:25px; box-sizing:border-box;}
    .seoul_recom_seach input[type="submit"]{position:absolute; left:20px; top:95px; width:1.3542vw; height:.3542vw;
       width:26px; height:26px;  background-image:url(../img/seach_icon.png); background-repeat:no-repeat; background-position:0 0;}

.holiday_info{width:41.666667vw; height:5.729167vw; -webkit-width:800px; -webkit-height:110px;
              border:2px solid #55a37c;  margin:30px auto;}
.holiday_info ul{width:23.177083vw; height:5.729167vw; -webkit-width:445px; -webkit-height:110px; margin:0 auto;}
.holiday_info li:nth-child(1){float:left; margin:30px 0;}
.holiday_info li:nth-child(2)>a{float:right; display:block; width:5.2083vw; height:1.8229vw;
              -webkit-width:100px; -webkit-height:35px; text-align:center; border:1px solid #191919;
              font-size:17px; line-height:34px; margin:37px 0;}


#footBox{position:relative; width:100vw; height:7.291667vw; -webkit-width:100%; -webkit-height:140px; background-color:#55a37c;}
 .foot_sns{position:absolute; right:573px; bottom:32px;}
 .foot_sns li{float:left; width:2.3438vw; height:2.3438vw; -webkit-width:45px; -webkit-height:45px; padding-right:10px;}
  .foot_sns li:last-child{padding-right:0;}
  .foot_sns li a{display:block; width:100%; height:100%; background-image:url(../img/sns.png); background-repeat:no-repeat;}
  .foot_sns li:nth-child(1)>a{background-position:0 0;}
  .foot_sns li:nth-child(2)>a{background-position:50%;}
  .foot_sns li:nth-child(3)>a{background-position:100%;}

  .foot_info{width:40.6250vw; height:6.2500vw; -webkit-width:780px; -webkit-height:120px; margin:0 auto;}
  .foot_info ul{font-size:17px;}
  .foot_info li{float:left; padding-top:25px; padding-right:20px}
  .foot_info li:last-child{padding-right:0px}
  .foot_info p{float:left; width:auto; height:2.5000vw; -webkit-height:48px;
               font-size:15px; line-height:20px; padding-top:13px;}