  #headBox{height:13.0208vw; -webkit-height:100px;}
  #headBox>h1{width:100vw; height:5.7292vw; -webkit-width:100%; -webkit-height:44px; padding:28px 0; box-sizing:content-box;}
  #headBox>h1>a{width:19.7917vw; height:5.2083vw; -webkit-width:152px; -webkit-height:40px;
                background-image:url(../img/seoul_botanicpark_logo_small.png);}
  #head_menu_mobile{position:absolute; top:4.5573vw; right:6.5104vw; -webkit-top:35px; right:50px; 
                    width:2.6042vw; height:2.6042vw; -webkit-width:20px; -webkit-height:20px;}
  #head_menu_mobile a{display:block; width:100%; height:100%; 
    background-image:url(../img/more_icon.png); background-repeat:no-repeat; background-position:0 0;}
  #head_menu_web{overflow:hidden;}
  
  .viewBox{width:100vw; height:auto; -webkit-width:100%; -webkit-height:auto; padding-top:0px;}
   .view_img{width:88.5417vw; height:54.6875vw; -webkit-width:680px; -webkit-height:420px; 
             background-position:55% 60%; background-size:200%;}
   .view_bgcolor{top:310px; width:100vw; height:54.6875vw; -webkit-width:100%; -webkit-height:420px;}
   .viewBox>p{right:65px; top:120px; font-size:22px; line-height:26px;}
  .view_tpg{width:52.0833vw; height:27.0833vw; -webkit-width:400px; -webkit-height:208px;}
   .tpg_title>i{top:36px; font-size:15px; line-height:15px;}
   .tpg_contents{width:auto; height:14.3229vw; -webkit-height:110px; font-size:16px; line-height:30px;}
   .tpg_contents>p{white-space:nowrap;}
  
  .seoul_news{width:50.7813vw; -webkit-width:390px;}
  .news_title>p{padding-bottom:20px;}
  .news_title>i{top:36px; right:15px; font-size:15px; line-height:15px;}
  .news_title>hr{margin-bottom:10px;}
  .news_contents div{width:50.7813vw; height:18.8802vw; -webkit-width:390px; -webkit-height:145px;
                   padding:10px; box-sizing:none; font-size:16px; line-height:28px;
                   white-space: nowrap; overflow: scroll; text-overflow: ellipsis;}
  .news_01{float:none;} .news_02{float:none; display:none;}
  
  .seoul_recom_button{width:50vw; -webkit-width:386px; padding-bottom:30px;}
  .seoul_recom_plant{float:left; width:24.2188vw; height:15.8854vw; -webkit-width:186px; -webkit-height:122px; 
                     margin-right:0px; background-image:url(../img/plant_icon_small.png);}
  .seoul_recom_place{float:right; width:24.2188vw; height:15.8854vw; -webkit-width:186px; -webkit-height:122px;
                     background-image:url(../img/palce_icon_small.png);}
  
   .short_line {width:50vw; -webkit-width:384px; margin:0 auto;}
   .seoul_plant_area{width:100%; height:80.7292vw; -webkit-width:100%; -webkit-height:620px;}
   .seoul_plant_area>p{font-size:20px; text-align:center; padding:30px 0;}
  
   .seoul_plant_area_info_mothly{width:31.2500vw; height:22.5260vw; -webkit-width:240px; -webkit-height:173px;}  
   .seoul_plant_area_info_mothly li{float:none;}
   .seoul_plant_area_info_mothly li:first-child{float:none; width:9.3750vw; height:9.3750vw; 
      -webkit-width:72px; -webkit-height:72px; margin:auto; background-size:260%;}
   .seoul_plant_area_info_mothly li:last-child{float:none; width:31.2500vw; height:10.0260vw;
      -webkit-width:240px; -webkit-height:77px; padding:0px; margin:20px 0; text-align:center; line-height:25px;}
   .seoul_plant_area_info_mothly li:last-child>p:nth-child(1){font-size:15px;}
   .seoul_plant_area_info_mothly li:last-child>p:nth-child(2){font-size:13px;}
   .seoul_plant_area_info_mothly li:last-child>p:nth-child(3){font-size:16px;}
  
   .seoul_plant_area_info_library{width:auto; height:auto;
      font-size:18px; line-height:27px; padding-bottom:20px}
   .seoul_plant_area_info_library li:nth-child(1)>p:last-child{font-size:14px;}
   .seoul_plant_area_info_library li:nth-child(2)>a{
      display:block; width:13.0208vw; height:4.5573vw; -webkit-width:100px; -webkit-height:35px;}
   
   .seoul_plant_area_info_seach{position:relative; width:46.8750vw; height:5.8594vw; -webkit-width:360px; -webkit-height:45px;}
   .seoul_plant_area_info_seach>p:nth-child(2){font-size:14px;}
   .seoul_recom_seach{width:100%; height:5.8594vw; -webkit-width:360px; -webkit-height:46px; margin-top:20px;}
   .seach_box{width:100%; height:5.8594vw; -webkit-width:360px; -webkit-height:46px;}
   .seoul_recom_seach input[type="text"]{float:right; width:46.8750vw; height:5.8594vw; -webkit-width:360px;
      -webkit-height:46px; font-size:20px; padding-left:50px; padding-right:0; box-sizing:border-box;}
   .seoul_recom_seach input[type="submit"]{top:87px; width:5.4167vw; height:5.4167vw; -webkit-width:26px; -webkit-height:26px;}
  
  .holiday_info{width:54.6875vw; height:16.9271vw; -webkit-width:420px; -webkit-height:130px;}
  .holiday_info ul{width:39.0625vw; height:9.5052vw; -webkit-width:300px; -webkit-height:73px; text-align:center;}
  .holiday_info li:nth-child(1){float:none; margin:10px 0 15px 0;}
  .holiday_info li:nth-child(2)>a{float:none; 
   display:block;  width:13.0208vw; height:4.5573vw; -webkit-width:100px; -webkit-height:35px; margin:0 auto;}
  
  #footBox{width:100vw; height:29.9479vw; -webkit-width:100%; -webkit-height:230px;}
  .foot_sns{position:static;  width:25vw; height:5.8594vw; -webkit-width:192px; -webkit-height:45px; 
          padding-top:30px; right:0; margin:0 auto;}
  .foot_sns li{float:left; width:5.8594vw; height:5.8594vw; -webkit-width:45px; -webkit-height:45px; padding-right:28px;}
  
  .foot_info{width:52.0833vw; height:10.9375vw; -webkit-width:400px; -webkit-height:84px; margin:20px auto;}
  .foot_info ul{line-height:27px;}
  .foot_info li{float:left; padding-top:0px; padding-right:13px}
  .foot_info li:first-child{padding-left:5px; padding-right:13px}
  .foot_info li:nth-child(3){float:left; padding-right:0px}
  .foot_info li:last-child{padding-right:0px}
  .foot_info p{float:left; width:auto; height:3.9063vw; -webkit-height:30px;
                 font-size:12px; text-align:center;}
