//seoul_main_480
@import "./_basic/mixin";
@import "./_basic/var";

#headBox{width:355px; height:auto; padding-top:45px;
h1{float:left; width:122px; height:33px; 
  @include BgImage('white_logo_mobile.png'); margin:0 auto; background-size:auto;} 
#gnb_mob{display:block; float:right; width:29px; height:24px; @include BgImage('icon/gnb_mobile.png');
  >a{display:block; width:100%; height:100%;}}
#gnb{display:none;}
}

#contentBox{width:100%; height:895px;
  #viewBox{width:100%; height:550px;
    .slide_indicator{display:none;}
    .view_img{
      .imgList_view{
      .img01{@include BgImage('bgimg/main_01_mobile_480.jpg');}
      .img02{@include BgImage('bgimg/main_02_mobile_480.jpg');}
      .img03{@include BgImage('bgimg/main_07_mobile_480.jpg');}
      .img04{@include BgImage('bgimg/main_04_mobile_480.jpg');}
      }//imgList_view
    }//.view_img
  }//#viewBox
  #place{bottom:15px; width:380px; height:513px;
    article{width:185px; height:245px; margin-bottom:10px;
      .number{margin-top:18px;}
      &:nth-of-type(2n){margin-right:0;}
    }//article
  }//#place
}//#contentBox

#today_program{width:380px; height:450px; margin:auto; margin-top:100px;
  .today_btn{top:0;}
  article{width:185px; height:185px;
  &:nth-of-type(2n){margin-right:0;}
  &:nth-of-type(3n){margin-right:10px;}
  &:nth-of-type(3){margin-bottom:0;}
  &:nth-of-type(4){margin-bottom:0;}
  &:nth-of-type(5){display:none;}
  &:nth-of-type(6){display:none;}
  }//article
}//today_program

#newsArea{width:100%; height:390px; margin-top:100px;
  @include BgImage('bgimg/newsArea_mobile_480.jpg');
  .news{width:380px; height:auto;
    .news_title{position:relative; float:none; padding-top:0;
      h3{@include zoneTitle(center);}
      p{display:none;}
      .news_btn{position:absolute; top:0px; right:30px; width:43px; height:23px; margin-top:0;}
    }//news_title
    .news_list{width:380px;}
  }//news
}//newArea

#plant{width:410px; margin-top:100px;
  article{width:130px;}}

#holiday_info{width:100%; margin-top:100px;
  &:before{width:90%;}}

#gallery{width:100%;
  .gallery_btn{display:none;}}

#footBox{width:100%;
  ul{width:335px; height:65px; margin-top:30px; text-align:center;
  li{padding:5px 5px;}}}