//seoul_join_768

@import "../_basic/mixin";
@import "../_basic/var";
@import "../_basic/common";

#wrap{position:relative; width:100%; height:auto;}
#headBox{@include headBox_mobile_768;}
#join_contentBox{
  #join_viewBox{
    .join_menu{width:100%; height:170px;
      .join_nav{width:100%; height:80px}
    }}//join_viewBox
  }//join_contentBox
  #join{width:100%; height:auto; text-align:center; margin-top:150px;
    h3{@include zoneTitle(center)}
    .join_text{display:block; width:450px; margin:auto; word-break:keep-all;}
    .tel{font-size:18px; font-weight:bold; margin:10px 0;}
    .join_way{width:450px; height:930px; margin:auto;
      >div{float:none; width:450px; height:300px; margin-right:0px; margin-bottom:15px;
           &:last-of-type{margin-bottom:0;}
           .join_titleZone{float:left; width:155px; height:100%; margin-left:20px; word-break:keep-all;
              i{display:block; width:110px; height:110px; margin:auto; margin-top:30px; margin-bottom:10px;}
              .main_title{font-size:20px; font-weight:bold; line-height:25px;}
              .tel{&:after{display:none;}}} //join_titleZone
           .join_contentZone{float:right; margin-bottom:0px; margin-right:20px;  margin-top:20px; text-align:left;
              div{&:first-of-type{margin-bottom:20px;}}
              .number{margin:5px; text-align:center;}
              .title{margin-bottom:5px;}}
        &:nth-of-type(1){border-color:$Purple;
          i{@include BgImage('icon/personal.png'); background-size:auto;}
          .tel{&:after{background-color:$Purple;}}
          .number{background-color:$Purple;}}
        &:nth-of-type(2){border-color:$Green;
          .join_titleZone{
          i{@include BgImage('icon/group.png'); background-size:100%; width:100%;}
          .tel{&:after{background-color:$Green;}}
          .number{background-color:$Green;}
          .title{margin-top:0;}}
          .join_contentZone{margin-top:80px;}
          }
        &:nth-of-type(3){border-color:$Violet;
          i{@include BgImage('icon/children.png'); background-size:auto;}
          .tel{&:after{background-color:$Violet;}}
          .number{background-color:$Violet;}}
      }
    }//joy_way
    .join_step{width:370px; height:570px; text-align:center; margin:auto; margin-top:150px;
      div{float:left; width:165px; height:270px; margin-top:30px; margin-right:15px;
        &:nth-child(odd){margin-right:0;}
        &:nth-of-type(1){.number{background-color:$Brown;} i{@include BgImage('icon/apply.png'); background-size:auto;}}
        &:nth-of-type(2){.number{background-color:$Purple;}i{@include BgImage('icon/interview.png'); background-size:auto;}}
        &:nth-of-type(3){.number{background-color:$Violet;}i{@include BgImage('icon/date.png'); background-size:auto;}}
        &:nth-of-type(4){.number{background-color:$Green;} i{@include BgImage('icon/certification.png'); background-size:auto;}}
      }
      .number{display:block; width:30px; height:30px; margin:auto; color:$white;
              border-radius:100%; font-size:13px; line-height:30px;}
      i{display:block; width:165px; height:165px;}
      p{font-size:18px; margin:15px; line-height:21px;}
    }//join_step
    .join_area{width:300px; height:140px; margin:150px auto; font-size:15px; text-align:left; line-height:30px;
      ul{
        li{float:none; width:300px; height:auto;
          &:nth-child(odd){margin-right:15px;}
          &:last-child{margin-right:0;}
      }
      }}
    }
#footBox{@include footBox_mobile; margin-top:100px;}