// seoul_botanicpark main

@import "../_basic/mixin";
@import "../_basic/var";
@import "../_basic/common";

#wrap{position:relative; width:100%; height:auto;}
#headBox{@include headBox_web} //headBox

#contentBox{position:relative; width:100%; height:880px; $count:4;
 #viewBox{width:100%; height:750px; overflow:hidden;
  .slide_indicator{position:absolute; bottom:300px; left:0; right:0; margin:auto;
    width:110px; height:10px; z-index:100;
     >ul{width:100%; height:100%;
     >li{float:left; width:10px; height:10px; border:2px solid $white; box-sizing:border-box;
         border-radius:30px; margin-left:10px;
          &.action{width:30px; background-color:$white; transition:width 300ms ease;}
          &:first-child{margin-left:0;}
        button{display:block; width:100%; height:100%; cursor:pointer;}
      }//li
     }//ul
    }//slide_indicator
    .view_img{width:100%; height:100%;
      .imgList_view{position:relative; top:0; left:0; width:100% * $count; height:100%;
        >div{float:left; width:100%/$count; height:100%;}
        .img01{@include BgImage('bgimg/main_01_web.jpg'); background-size:auto;}
        .img02{@include BgImage('bgimg/main_02_web.jpg'); background-size:auto;}
        .img03{@include BgImage('bgimg/main_03_web.jpg'); background-size:auto;}
        .img04{@include BgImage('bgimg/main_04_web.jpg'); background-size:auto;}
      }
    }
  }//viewBox
  #place{position:absolute; bottom:0px; width:830px; height:260px; left:50%; transform:translateX(-50%);
    article{position:relative; float:left; width:200px; height:100%; background-color:$white; margin-right:10px; box-shadow:2px 2px 4px rgba(0,0,0,0.3);
      .number{display:block; font-size:23px; text-align:center; color:$white; line-height:42px;
              width:45px; height:45px; border-radius:100%; margin:auto; margin-top:30px; background-color:$Violet;}
      .title{position:relative; display:block; text-align:center; font-size:18px; font-weight:bold; margin-top:10px;
        &:before{position:absolute; top:38px; left:25px; content:" "; display:block; width:150px; height:1px; background-color:$Violet}
      }
      p{font-size:13px; text-align:center; margin-top:25px;}
      a{@include aIcon($Violet,$white)}
    &:last-of-type{margin-right:0;}   
    &:nth-of-type(1){&:hover,&:focus{@include placeHover($Violet);}}
    &:nth-of-type(2){@include placeColor($Purple); &:hover,&:focus{@include placeHover($Purple);}}
    &:nth-of-type(3){@include placeColor($Green);  &:hover,&:focus{@include placeHover($Green);}}
    &:nth-of-type(4){@include placeColor($Brown);  &:hover,&:focus{@include placeHover($Brown);}}
  }//article
  }//place

}//contentBox

#today_program{position:relative; width:620px; height:485px; margin:auto; margin-top:150px;
  h3{@include zoneTitle(center);}
  .today_btn{position:absolute; top:10px; right:30px; width:43px; height:23px;
             @include BgImage('icon/more_icon_black.png'); background-size:auto;
      a{display:block; width:100%; height:100%;}}
  article{position:relative; float:left; width:200px; height:200px; margin-right:10px; margin-bottom:10px; background-color:#ddd;
          &:nth-of-type(3n){margin-right:0;}
          a{display:block; width:100%; height:100%;
            .today_text{display:none; position:absolute; width:100%; height:100%; top:33px;
                        text-align:center; font-size:14px; line-height:20px; color:$white;
                        h4{font-size:16px; line-height:70px;}
              &:before{content:" "; display:block; position:absolute; top:56px; left:0; right:0; margin:auto; border-radius:100%;
                       width:5px; height:5px; background-color:$white;}}}
        }//article
  .today_img01{@include BgImage('todayprogram/today_img01.jpg');}
  .today_img02{@include BgImage('todayprogram/today_img02.jpg');}
  .today_img03{@include BgImage('todayprogram/today_img03.jpg');}
  .today_img04{@include BgImage('todayprogram/today_img10.jpg');}
  .today_img05{@include BgImage('todayprogram/today_img05.jpg'); background-size:100%; background-position:100% 0;}
  .today_img06{@include BgImage('todayprogram/today_img06.jpg');}
  }//today_program

#newsArea{width:100%; height:320px; margin-top:150px; color:$white;
   @include BgImage('bgimg/newsArea.jpg'); background-size:100%; background-position:100% 65%;
   a{color:$white;}
  .news{width:600px; height:200px; margin:auto; padding-top:60px; box-sizing:border-box;
  .news_title{float:left; width:auto; height:auto; padding-top:8px;
    h3{@include zoneTitle(left);}
    p{font-size:14px}
    .news_btn{width:43px; height:23px; margin-top:20px;
      @include BgImage('icon/more_icon_white.png'); background-size:auto; 
      a{display:block; width:100%; height:100%;}}
    }//news_title
    .news_list{float:right; height:200px; font-size:15px; line-height:28px; overflow-y:scroll;
    p{text-overflow:ellipsis; overflow-x:hidden; white-space:nowrap;}}
  }
}//newsArea
#plant{width:560px; height:235px; margin:auto; margin-top:150px;
  h3{@include zoneTitle(center);}
  i{display:block; width:90px; height:90px; margin:auto;}
  article{float:left; width:180px; height:auto; margin-right:10px;
    &:nth-of-type(1){a{background-color:$Purple;}
                     i{@include BgImage('icon/flower.png'); background-size:auto;}
                     p{line-height:50px;}}
    &:nth-of-type(2){a{background-color:$Green;}
                     i{@include BgImage('icon/library.png'); background-size:auto;}
                     p{color:$Green;} span{color:$Green;}}
    &:nth-of-type(3){margin-right:0; a{background-color:$Brown;}
                     i{@include BgImage('icon/seach.png'); background-size:auto;}
                     p{color:$Brown;}}
    p{color:$Purple; font-size:18px; text-align:center; line-height:25px;}
    span{display:block; text-align:center; font-size:15px; line-height:18px; margin-top:12px;}
    a{@include aIcon($white,$white);}
      }//article
    }//plant

#holiday_info{position:relative; width:620px; height:200px; margin:auto; margin-top:110px;
  @include BgImage('bgimg/holidayArea_img.jpg'); background-size:100%;
  &:before{content:" "; display:block; position:absolute; top:0; bottom:0; left:0; right:0; margin:auto;
           width:580px; height:160px; border:1px solid $white;}
  p{font-size:18px; text-align:center; margin-top:50px; color:$white;}
  a{@include aIcon($white,$Green);}
    }

#gallery{position:relative; width:1280px; height:215px; margin:auto; margin-top:150px; $conut:11;
  .gallery_btn{position:absolute; width:100%; height:0; z-index:100;
               top:0; left:0; bottom:0; right:0;
              button{width:200px; height:200px; cursor:pointer;}
              .next{float:right;} .prev{float:left;}}
  .gallery_img{position:relative; width:100%; height:100%; overflow-y:hidden;
  .imgList_gallery{width:2400px; height:100%; 
    li{float:left; width:200px; height:100%; background-color:#ddd; margin-right:15px;}
    .gallery_img01{@include BgImage('gallery/gallery_img01.jpg')}
    .gallery_img02{@include BgImage('gallery/gallery_img02.jpg')}
    .gallery_img03{@include BgImage('gallery/gallery_img03.jpg')}
    .gallery_img04{@include BgImage('gallery/gallery_img04.jpg')}
    .gallery_img05{@include BgImage('gallery/gallery_img05.jpg')}
    .gallery_img06{@include BgImage('gallery/gallery_img06.jpg')}
    .gallery_img07{@include BgImage('gallery/gallery_img07.jpg')}
    .gallery_img08{@include BgImage('gallery/gallery_img08.jpg')}
    .gallery_img09{@include BgImage('gallery/gallery_img09.jpg')}
    .gallery_img10{@include BgImage('gallery/gallery_img10.jpg')}
  }
}
}

#sns{position:relative; width:130px; height:auto; margin:auto; margin-top:130px;
  ul{width:130px; height:40px; margin:auto;
    li{float:left; width:40px; height:40px; margin-right:5px;
    a{display:block; width:100%; height:100%; @include BgImage('icon/sns_icon.png'); background-size:cover;}
    &:last-child{margin-right:0;}
    &:nth-child(1)>a{background-position:0 0;}
    &:nth-child(2)>a{background-position:50%;}
    &:nth-child(3)>a{background-position:100%;}
      }//li
    }//ul
  }//sns

#footBox{@include footBox_web}


@media screen and (max-width:767px){@import "seoul_main_480";}
@media screen and (min-width:768px) and (max-width:1279px){@import "seoul_main_768";}
