//seoul_around(768)

@import "../_basic/mixin";
@import "../_basic/var";
@import "../_basic/common";

#wrap{position:relative; width:100%; height:auto;}
#headBox{@include headBox_mobile_480;}
#around_contentBox{
  #around_viewBox{
    .around_menu{width:100%; height:170px;
    .around_nav{width:100%; height:80px; background-color:$Green;
      ul{width:336px;
        li{padding:28px 10px;}}}
    }}//story_viewBox
  }//around_contentBox
#forest{margin-top:100px;
  .forest_text{display:block; width:350px; margin:auto; word-break:keep-all;}
  .forest_map{width:100%; height:725px; position:relative;
    .map_img{position:relative; width:100%; height:305px; background-position:0 90%;}
    .map_button{
      div{transform:scale(0.8);
        &:nth-of-type(1){@include buttonPosition(100px,45px,$Green)}
        &:nth-of-type(2){@include buttonPosition(90px,110px,$Purple)}
        &:nth-of-type(3){@include buttonPosition(80px,230px,$Violet)}
        &:nth-of-type(4){@include buttonPosition(50px,280px,$Brown)}}
    }
    .map_list{position:absolute; top:270px; left:0; right:0; width:405px; height:455px; margin:auto;
      div{float:left; width:200px; height:220px; background-color:$white;
          border:1px solid $Green; box-sizing:border-box; margin-right:5px;
          &:last-of-type{margin-right:0;}
          .number{width:34px; height:34px; margin-top:20px;
                  font-size:15px; line-height:35px;}
          .title{display:block; font-size:18px;
                 &:after{margin:15px auto;}}
          p{font-size:13px;}
          &:nth-of-type(1){margin-bottom:5px;}
          &:nth-of-type(2){margin-right:0; margin-bottom:5px;}
        }//div
    }//map_list
  }//forest-map
}//forest
#footBox{@include footBox_mobile;}


