@import "../_basic/mixin";
@import "../_basic/var";
@import "../_basic/common";

#wrap{position:relative; width:100%; height:auto;}
#headBox{@include headBox_web;}
#around_contentBox{width:100%; height:auto;
  #around_viewBox{position:relative; width:100%; height:450px;
    @include BgImage('bgimg/main_02.jpg'); background-position:0 90%;
    .around_menu{position:absolute; width:100%; height:140px; bottom:-40px;
      h3{font-size:20px; text-align:center; color:$white}
      .around_nav{width:830px; height:80px; background-color:$Violet; margin:auto; margin-top:30px;
        ul{width:436px; height:100%; margin:auto; font-size:16px;
          li{float:left; padding:28px 20px;
            >a{color:$white;}}}}
    }}//around_viewBox
  }//around_contentBox
#forest{width:100%; height:auto; text-align:center; margin-top:150px;
  h3{@include zoneTitle(center)}
  .keyFacility{display:inline-block; margin-top:30px; margin-bottom:30px;
    p{font-size:18px; font-weight:bold; color:$Violet; margin-bottom:10px;
      &:before{content:" "; display:block; width:65px; height:5px; background-color:$Violet; margin:auto; margin-bottom:5px;}}
    }
  .forest_map{width:100%; height:auto; margin-top:50px;
    .map_img{position:relative; width:795px; height:465px; @include BgImage('seoul_map.jpg'); margin:auto; margin-bottom:80px;}
    .map_button{
      div{width:42px; height:42px; border-radius:100%;
        &:nth-of-type(1){@include buttonPosition(170px,100px,$Green)}
        &:nth-of-type(2){@include buttonPosition(160px,190px,$Purple)}
        &:nth-of-type(3){@include buttonPosition(120px,360px,$Violet)}
        &:nth-of-type(4){@include buttonPosition(155px,425px,$Brown)}
        button{display:block; width:100%; height:42px; font-size:19px; font-weight:bold; color:$white; cursor:pointer; padding-bottom:2px;}}
    }
    .map_list{width:1045px; height:270px; margin:auto;
      div{float:left; width:250px; height:100%; margin-right:15px; background-color:$white;
          border:1px solid $Green; box-sizing:border-box;
          &:last-of-type{margin-right:0;}
          .number{display:block; width:42px; height:42px; margin:auto; margin-top:30px; margin-bottom:10px;
                  background-color:$Green; border-radius:100%;
                  font-size:19px; font-weight:bold; line-height:40px; color:$white;}
          .title{display:block; font-size:18px; font-weight:bold; text-align:center;
                 &:after{content:" "; display:block; width:150px; height:1px; margin:25px auto; background-color:$Green;}}
          p{font-size:14px;}
          &:nth-of-type(1){position:relative;}
          &:nth-of-type(2){position:relative; border-color:$Purple; .number{background-color:$Purple;} .title{&:after{background-color:$Purple;}}}
          &:nth-of-type(3){position:relative; border-color:$Violet; .number{background-color:$Violet;} .title{&:after{background-color:$Violet;}}}
          &:nth-of-type(4){position:relative; border-color:$Brown;  .number{background-color:$Brown;}  .title{&:after{background-color:$Brown}}}
        }//div
    }//map_list
  }//forest-map
}//forest
#footBox{@include footBox_web; margin-top:100px;}

@media screen and (max-width:767px){@import "seoul_around_480";}
@media screen and (min-width:768px) and (max-width:1279px){@import "seoul_around_768";}

