#wrap {
  position: relative;
  width: 100%;
  height: auto; }

#headBox {
  width: 500px;
  height: auto;
  padding-top: 45px;
  z-index: 100; }
  #headBox h1 {
    float: left;
    width: 122px;
    height: 33px;
    background-image: url("../../img/white_logo_mobile.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin: 0 auto;
    background-size: auto; }
    #headBox h1 a {
      display: block;
      width: 100%;
      height: 100%; }
  #headBox #gnb {
    display: none; }

#gnbMob {
  display: block; }
  #gnbMob .mob_btn {
    position: absolute;
    top: 50px;
    right: 135px;
    width: 25px;
    height: 19px;
    z-index: 200; }
    #gnbMob .mob_btn > button {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      cursor: pointer; }
      #gnbMob .mob_btn > button span {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: 0.2s; }
        #gnbMob .mob_btn > button span:nth-child(1) {
          top: 0; }
        #gnbMob .mob_btn > button span:nth-child(2), #gnbMob .mob_btn > button span:nth-child(3) {
          top: 50%;
          transform: translateY(-50%); }
        #gnbMob .mob_btn > button span:nth-child(4) {
          bottom: 0; }
    #gnbMob .mob_btn .active > span:nth-child(1), #gnbMob .mob_btn .active > span:nth-child(4) {
      opacity: 0; }
    #gnbMob .mob_btn .active > span:nth-child(2) {
      transform: rotate(45deg); }
    #gnbMob .mob_btn .active > span:nth-child(3) {
      transform: rotate(-45deg); }
  #gnbMob .menu_area {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 190; }
    #gnbMob .menu_area .mob_menu_all {
      position: absolute;
      top: 150px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 200;
      text-align: center; }
      #gnbMob .menu_area .mob_menu_all ul > li {
        padding: 10px; }
      #gnbMob .menu_area .mob_menu_all a {
        color: #fff;
        font-size: 20px; }
      #gnbMob .menu_area .mob_menu_all .mob_member li:nth-child(1):before {
        content: " ";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #fff;
        margin-bottom: 20px; }

#use_contentBox #use_viewBox .use_menu {
  width: 100%;
  height: 170px; }
  #use_contentBox #use_viewBox .use_menu .use_nav {
    width: 100%;
    height: 80px;
    background-color: #a88771; }

#use {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 150px; }
  #use h3 {
    font-size: 20px;
    text-align: center;
    line-height: 18px;
    margin-bottom: 30px; }
    #use h3 span {
      font-size: 13px;
      text-transform: uppercase; }
  #use .use_text {
    display: block;
    width: 450px;
    margin: auto;
    word-break: keep-all; }

#footBox {
  width: 100%;
  margin-top: 100px; }
  #footBox ul {
    width: 335px;
    height: 65px;
    margin-top: 30px;
    text-align: center; }
    #footBox ul li {
      padding: 5px 5px; }
